.not-loaded {
    display: none;
}

img {
    height: 80vh;
    width: 95vw;
    object-fit: contain;
    padding: 10px;
    display: block;
}

#content-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    overflow: visible;
}

#socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.socials-link {
    padding: 6px;
    margin: 10px;
}

.socials-icon {
    width: 40px;
    height: 40px;
}
